@media (max-width: 600px) {
  .site img {
    max-width: 400px;
    max-height: 400px;

    border-radius: 50px 50px 50px 50px;
  }
  .search-wrapper .input {
    margin-top: 53px;
    margin-left: 74px;
    padding: 11px 16px;
    border-radius: 1em;
    border: none;
  }
  .input {
    width: 166px;
  }
  #results {
    padding-bottom: 140px;
  }
}
