* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #01162b;
  padding: 2em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.site {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  min-height: 800px;
  width: 100%;
  border-radius: 0.4em;
}
.site img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  max-height: 400px;
  box-shadow: 0 0 2em 0 rgba(124, 124, 124, 0.787),
    0 0 2.81em 0 rgba(132, 132, 132, 6.9) inset;

  border: 1px solid grey;
  border-radius: 4px 50px 4px 50px;
}
input {
  width: 240px;
}
.search-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-wrapper .input {
  margin-top: 100px;
  margin-left: 7px;
  padding: 12px 45px;
  border-radius: 1em;
  border: none;
}
.searching-result {
  color: #fff;
  text-align: center;
  margin-top: 39px;
}